@font-face {
    font-family: "Ubuntu";
    src: url("sfsites/c/resource/UbuntuFont") format("TrueType");
}

template {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Fuerza a que los hijos tengan la misma altura */
    background-color: white;
    height: auto;
}


h1 {
    padding-left: 6%;
    padding-right: 6%;
    color: #12ABDB;
    font-size: 25px;
    background-color: white;
    font-family: "Ubuntu";
    padding-top: 20px;
}

h2 {
    padding-left: 6%;
    padding-right: 6%;
    color: #12ABDB;
    font-size: 15px;
    background-color: white;
    display: flex;
    font-family: "Ubuntu";
}

.reduce {
    width: 5px;
}

label {
    color: #12ABDB;
    font-size: 25px;
    font-family: "Ubuntu";
}

.lightning {
    font-family: "Ubuntu";
    padding-bottom: 2px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.form {
    padding-left: 6%;
    padding-right: 6%;
    background-color: white;
    font-family: "Ubuntu";
}

.vehiculo ::slotted(.slds-slider-label__range) {
    display: none;
}

.monitores {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 20px;
    height: 6px;
    background: #ccc;
    
  }
.monitores::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    /* background-image: url("https://d0600000116s3eai-dev-ed--c.develop.vf.force.com/resource/1706550171000/iconoMonitor"); */
    background-size: cover;
  }

.button { 
    display: inline-block;
    color: #fff;
    background: #12ABDB;
    padding-left: 6%;
    padding-right: 6%;
    padding: 5px 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Ubuntu";
    margin-top: 20px;
    margin-bottom: 20px;
}

.format {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

.all {
    background-color: #ffffff;
    display: flex;
}

.advice {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.advice h2 {
    margin-top: 3.8em;
    margin-bottom: auto;
}

.custEventMap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-grow: 1;
}

img {
    height: 300px;
    width: 300px;
    margin-top: 1.5em;
    margin-bottom: 44px;
}

.footer {
    width: auto;
    height: 20px;
}