@font-face {
    font-family: "Ubuntu";
    src: url("sfsites/c/resource/UbuntuFont") format("TrueType");
}

template {
    background-color: white;
}

h1 {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    padding-left: 25px;
    color: #12ABDB;
    font-size: 25px;
    background-color: white;
    font-family: "Ubuntu";
    padding-top: 20px;
}

h2 {
    padding-left: 25px;
    color: #12ABDB;
    font-size: 15px;
    background-color: white;
    font-family: "Ubuntu";
}

.reduce {
    width: 5px;
}

label {
    color: #12ABDB;
    font-size: 25px;
    font-family: "Ubuntu";
}

.lightning {
    font-family: "Ubuntu";
    padding-bottom: 2px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.form {
    padding: 2%;
    background-color: white;
    font-family: "Ubuntu";
}

.vehiculo ::slotted(.slds-slider-label__range) {
    display: none;
}

.monitores {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 20px;
    height: 6px;
    background: #ccc;
    
  }
.monitores::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    /* background-image: url("https://d0600000116s3eai-dev-ed--c.develop.vf.force.com/resource/1706550171000/iconoMonitor"); */
    background-size: cover;
  }

.button { 
    display: inline-block;
    color: #fff;
    background: #12ABDB;
    padding: 5px 15px;
    border : none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Ubuntu";
    margin-top: 20px;
}


