@font-face {
    font-family: "Ubuntu";
    src: url("sfsites/c/resource/UbuntuFont") format("TrueType");
}

template {
    background-color: white;
}

h1 {
    padding-left: 25px;
    color: #12ABDB;
    font-size: 25px;
    background-color: white;
    font-family: "Ubuntu";
}

h2 {
    padding-left: 25px;
    color: #12ABDB;
    font-size: 15px;
    background-color: white;
    font-family: "Ubuntu";
}

.reduce {
    width: 5px;
}

label {
    color: #12ABDB;
    font-size: 25px;
    font-family: "Ubuntu";
}

.lightning {
    font-family: "Ubuntu";
    padding-bottom: 2px;
    background-image: url('https://img.icons8.com/material-outlined/344/average-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.form {
    width:50%;
    padding: 2%;
    background-color: white;
    font-family: "Ubuntu";
}

.vehiculo ::slotted(.slds-slider-label__range) {
    display: none;
}

.slds-slider__range {
    color: #12ABDB;
    font-family: "Ubuntu";
}

.button { 
    display: inline-block;
    color: #fff;
    background: #12ABDB;
    padding: 5px 15px;
    border : none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Ubuntu";
}


